<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cripta</title>
</head>
<body>
<h1 data-th-text="${cryptocurrency.title}"> cripta</h1>
<ul>
    <li><strong>ID</strong>: <span data-th-text="${cryptocurrency.id}"></span> </li>
    <li><strong>TITLE</strong>: <span data-th-text="${cryptocurrency.title}"></span> </li>
    <li><strong>DESCRIPTION</strong>: <span data-th-text="${cryptocurrency.description}"></span> </li>

</ul>
<a data-th-href="@{/catalogue/cryptocurrency/cryptocurrences}" >list page</a>

<form method="post" data-th-action="@{/catalogue/cryptocurrency/{cryptocurrencyId}/delete(cryptocurrencyId =${cryptocurrency.id})}">
    <button type="submit">delete</button>
</form>
</body>
</html>