<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New cripta</title>
</head>
<body>
<h1>Update cripta</h1>
<div data-th-if="${errors}">
    <h2>your data has errors</h2>
    <ul>
        <li data-th-each="error:${errors}" data-th-text="${error}">
        </li>
    </ul>
</div>
<form method="post" data-th-action="@{/catalogue/cryptocurrency/{cryptocurrencyId}/edit(cryptocurrencyId=${cryptocurrency.id})}">
    <label>
        Название крипты <br>
        <input type="text" name="title" data-th-value="${payload != null? payload.title : cryptocurrency.title}">
    </label>
    <label>
        Описание крипты <br>
        <textarea name="description" data-th-text="${payload != null? payload.description() : cryptocurrency.description}"> </textarea>
    </label>
    <button type="submit">Update</button>
</form>
<a data-th-href="@{/catalogue/cryptocurrency/{cryptocurrencyId}(cryptocurrencyId=${cryptocurrency.id})}" >list page</a>
</body>
</html>