<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список товаров &ndash; Сельмаг</title>
</head>
<body>
<h1>Список товаров</h1>
<a data-th-href="@{/catalogue/cryptocurrency/create}" >create page</a>
<table>
    <thread>
    <tr>
        <th>#</th>
        <th>Товар</th>
    </tr>
    </thread>
    <tbody>
    <tr data-th-each="cripta : ${cryptocurrences}">
        <td data-th-text="${cripta.id}"></td>
        <td>
            <a data-th-href="@{/catalogue/cryptocurrency/{criptaId}(criptaId=${cripta.id})}"
               data-th-text="${cripta.title}"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>