<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New cripta</title>
</head>
<body>
<h1>New cripta</h1>
<div data-th-if="${errors}">
    <h2>your data has errors</h2>
    <ul>
        <li data-th-each="error:${errors}" data-th-text="${error}">
        </li>
    </ul>
</div>
<form method="post" data-th-action="@{/catalogue/cryptocurrency/create}">
    <label>
        Название крипты <br>
        <input type="text" name="title" data-th-value="${payload?.title()}">
    </label>
    <label>
        Описание крипты <br>
        <textarea name="description"  data-th-value="${payload?.description()}"> </textarea>
    </label>
    <button type="submit">Create</button>
</form>
<a data-th-href="@{/catalogue/cryptocurrency/cryptocurrences}" >list page</a>
</body>
</html>